th.sotable-column > button,
table.sotable button.sotable.restore {
  all: unset;
  /*remove all button styling*/
  cursor: pointer;
}

table.sotable button.restore-order {
  font-weight: bold;
}

th.sotable-column .indicator {
  font-size: smaller;
  margin-left: 0.5em;
}

@media print {
  table.sotable caption p.indicator {
    display: none;
  }
}
